.shadowing {
  transition: box-shadow 0.3s ease-in-out;
  background-color: #23152c;
}

.shadowing:hover {
  box-shadow: 0px 4px 20px rgba(94, 24, 160, 0.7);
}

/* .shadowing::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #8a2be2, #6b46c1, #3b82f6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .shadowing:hover::before {
    opacity: 0.4;
  }
   */

.card-height {
  height: 100%;
  max-height: 400px;
}
