<nav class="navbar  flex justify-between">
    <!-- Logo on the left -->
    <div class="">
        <a class="text-2xl font-bold mainColor">SQUAD</a>
    </div>

    <!-- Navigation in the center -->
    <ul class="flex gap-4 secondaryColor text-xl nav-links">
        <li><a routerLink='/' routerLinkActive="active-link">Home</a></li>
        <li><a routerLink='/games' routerLinkActive="active-link">Games</a></li>
    </ul>

    <!-- Profile image on the right -->
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-[#1f2122] text-white rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Logout</a></li>
        </ul>
    </div>
</nav>
