<app-background>
    <div class="relative">
        <img src="back-ground.jpg" alt="back-ground" class="p-12 h-[400px] w-full blur-sm object-cover">
        <div class="absolute top-14 left-20 flex flex-col gap-9 justify-center p-10 text-white">
            <p class="text-xl">Welcome To SQUAD</p>
            <p class="text-4xl font-bold"><span class="mainColor">Browse</span> Our Popular Games Here</p>
            <a appButton class="btnn">browse now</a>
        </div>
    </div>
</app-background>