<app-card (click)="handleRedirect(game()._id)" class="cursor-pointer">
    <figure class="relative">
        @if (game().discount > 0){
        <div class="sale-badge"> <span>SALE</span></div>
        }
        <img [src]="game().imageCover" [alt]="game().title" class="object-cover h-72 w-full" />
    </figure>
    <div class="card-body p-3 text-white">
        <h2 class="flex font-bold text-lg justify-between">
            {{game().title}}
            <div class="flex gap-1">
                @if(game().discount > 0) {
                <p class="font-bold line-through text-white/70">{{game().discount}}</p>
                }
                <p class="font-bold">${{game().price}}</p>
            </div>
        </h2>
        <div class="card-actions justify-end">
            <p class="text-violet-500">{{game().platform}}</p>
        </div>
    </div>
</app-card>